* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TYPOGRAPHY */

@font-face {
    font-family: fa;
    src: url(/fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-semib;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: impcat;
    src: url(/fonts/impact.ttf);
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    font-family: poppins;
    line-height: 0.809;
    color: white;
}

body {
    font-size: 1.3125rem;
    background-color: #22252c;
}

/* HEADER */

.main-layout {
    margin-top: 16px;
    margin-left: 14px;
    margin-right: 23px;
    width: 98%;
    border-radius: 10px;
    background-color: #383b42;
}

.main-header {
    width: 99%;
    border-radius: 50px;
    background-color: #5970c1;
    ;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 22px;
}

.main-logo {
    margin-left: 81px
}

.header-logo {
    width: 200px;
    height: 60px;
}

.menu-btn {
    display: none;
}

.main-nav li a {
    text-decoration: none;
    color: white;
}

.main-nav li:last-child {
    padding-right: 263px;
    padding-left: 50px;
}

/* MAIN-CONTENT-GALLERY */

.searchbar {
    position: relative;
    /* background-color: wheat; */
    width: 40%
}

.searchbar input {
    background-color: #22252c;
    border-radius: 29px;
    width: 541px;
    height: 58px;
}

.search-btn {
    position: absolute;
    right: 5px;
}

.searchbar-nav-container {
    /* background-color: rgba(255, 255, 255, 0.39); */
    margin-left: 25px;
    margin-right: 13px;
    margin-top: 25px;
}

.words-bar {
    /* align-items: flex-end; */
    /* width: 50%; */
}

.words {
    padding-top: 15px;
    text-align: center;
}

.words-container {
    width: 536px;
    height: 50px;
    background-color: #87898d;
    border-radius: 25px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

.more-btn {
    width: 92px;
    height: 36px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(145, 136, 145); */
    /* border: 1px solid rgb(80, 98, 99); */
    height: 173px;
    width: 200px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 80px));
    grid-gap: 26px 30px
}

.memes-container {
    margin-left: 57px;
    margin-top: 128px;
    margin-bottom: 50px;
}

/* EDITOR */

.editor-container {
    margin-top: 20px;
    margin-right: 95px;
    margin-left: 95px;
    justify-content: space-between;
}

.control-box {
    background-color: #383b42;
    height: 546px;
    width: 500px;
    border-radius: 30px;
}

#my-canvas {
    border-radius: 30px;
}

.line-input {
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    width: 420px;
    border-radius: 28px;
    height: 55px;
    text-align: center;
}

.line-generator {
    margin-top: 10px
}

.line-generator button:not(:first-child) {
    margin-left: 15px;
}

.line-generator button {
    width: 57px;
    height: 57px;
}

.switch-btn {
    background-color: #43b2cf;
}

.add-btn {
    background-color: #3fdb57;
}

.delete-btn {
    background-color: #d92c37;
}

.line-editor-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55px 55px 55px 55px 55px;
    grid-template-rows: 51px 51px 51px 51px 51px;
    background-color: #19a59f;
    border-radius: 15px;
    gap: 19px 32px;
    margin-top: 15px;
    padding-top: 10px;
    width: 445px;
    height: 145px;
}

.control-box button, input, select {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
}

.download-container button:not(:first-child) {
    margin-left: 15px;
}

.download-container button {
    margin-top: 20px;
    width: 200px;
    height: 51px;
}

.download-btn {
    background-color: #1e7cd3;
}

.share-btn {
    background-color: #8f44bb;
}

#fonts {
    grid-column: 1/4;
}

#fill {
    grid-column: 4/5;
}

#stroke {
    grid-row: 2/2;
    grid-column: 5/6;
}

/* HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Flex: */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

#my-canvas {
    background-color: white;
}

/* Grid */

.grid {
    display: grid;
}

/* DISPLAYS */

.block {
    display: block;
}

.none {
    display: none;
}