* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: fa;
    src: url(/fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-semib;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

html {
    font-family: poppins;
    line-height: 0.809;
    color: white;
}

body {
    font-size: 1.3125rem;
    background-color: #22252c;
    margin: 0;
}

/* HEADER */

.main-layout {
    width: 1243px;
}

.main-header {
    border-radius: 50px;
    background-color: #5970c1;
    ;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 15px;
}

.main-logo {
    margin-left: 81px
}

.header-logo {
    width: 200px;
    height: 60px;
}

.menu-btn {
    display: none;
}

.main-nav li a {
    text-decoration: none;
    color: white;
}

.main-nav li:last-child {
    padding-right: 263px;
    padding-left: 50px;
}

/* HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Flex: */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}